fieldset {
    background-color: rgb(75, 250, 93);
    height: 500px;
    width: 600px;
    border-radius: 0px 30px 90px;
    margin: 20px;
}

legend {
    color: rgb(104, 127, 243);
    border: 2px;
    height: 20px;
    border-style: solid;
}